@model Formule1Library.Driver


    <div class="card w-50 m-2" style="background-color: #e1e1e1">
        <div class="card-body">
            <h1  class="card-text">
                <a class="link-dark" asp-controller="Drivers" asp-action="Details" asp-route-id="@Model.ID">@Model.Fullname</a> &nbsp
                <img width="7%" src="@Model.Country.FlagUrl"/>
            </h1>
            <img width="25%" src="@Model.ImageUrl"/>
            <p class="card-text">Geboortedatum: @Convert.ToDateTime(Model.Birthdate).ToShortDateString()</p>
            <p class="card-text">Land: @Model.Country.Name</p>
            <p class="card-text">
                Constructeursteam: 
               @*<img width="5%" src="@Model.Teams.Country.FlagUrl"/>*@
            </p>
            @foreach(var team in Model.Teams)
            {
            <ul> 
            <li>
               <a class="link-dark" asp-controller="Teams" asp-action="Details" asp-route-id="@team.ID">@team.Name</a>
            </li>        
            </ul>
            }
            <p class="card-text">Eerste Race: @Model.Results.First().Date</p>
            <p class="card-text">Laatste Race: @Model.Results.Last().Date</p>
            <p class="card-text">Overwinningen @Model.Results.Count</p>
            <a href="@Model.WikiUrl">Wikipedia</a>
            <div>
                <a asp-action="Index">Terug naar Coureurs</a>
            </div>
        </div>
    </div>
