@model IEnumerable<Formule1Library.Result>

@foreach (var result in Model)
{
    <div class="card w-50 m-2">
        <div class="card-body">
            <h5 class="card-title">
                @result.Grandprix.Name &nbsp;
                <img width="7%" src="@result.Circuit.Country.FlagUrl"/>
            </h5>
            <p class="card-text">Datum: @Convert.ToDateTime(result.Date).ToShortDateString()</p>
            <p class="card-text">Winnende coureur: @result.Driver.Fullname</p>
            <p class="card-text">Winnend constructeursteam: @result.Team.Name</p>
            <p class="card-text">Circuit: @result.Circuit.Name</p>
            <p class="card-text">Rondes: @result.Rounds</p>
            <p class="card-text"></p>
        </div>
    </div>
}