@model IEnumerable<Formule1Library.Result>

@foreach (var result in Model)
{
    <h5>@Convert.ToDateTime(result.Date).ToShortDateString()</h5>
    <h5>@result.Grandprix.Name</h5>
    <h5>@result.Circuit.Name</h5>
    <h5>@result.Driver.Fullname</h5>
    <h5>@result.Rounds</h5>
    <br/>                  
    <br/>                  
}